/Guia7Ejercicio_1_B/build/
/Guia7Ejercicio_1_B/nbproject/private/
/Guia7Ejercicio_3/nbproject/private/
/Guia7Ejercicio_3/build/
/Guia7Ejercicio_4/nbproject/private/
/Guia7Ejercicio_4/build/
/Guia7_ExtrasEjercicio1/nbproject/private/
/Guia7_ExtrasEjercicio1/build/
/Guia7_ExtrasEjercicio2/nbproject/private/
/Guia7_ExtrasEjercicio2/build/
/Guia7_ExtrasEjercicio3/nbproject/private/
/Guia7_ExtrasEjercicio3/build/
/Guia7_ExtrasEjerccio5/nbproject/private/
/Guia7_ExtrasEjerccio5/build/
/Guia7_ExtrasEjercicio6/nbproject/private/